/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #415a77;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-top: 1px solid #AEC3B0;
  font-size: 1.5rem;
}

.navbar {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  min-height: 48px !important;
}

body {
  background-color: #e0e1dd;
  color: #01161E;
  font-family: 'PT Sans', sans-serif;
}

#quarto-appendix.default {
  background-color: #e0e1dd !important;
  border: none !important;
  box-shadow: none !important;
  padding: 1rem 0 !important;
  margin-top: 2rem !important;
}

img, figure {
  border: none !important;
  border-radius: 6px;
}

img:not(figure img) {
  border: 3px solid #AEC3B0;
  border-radius: 6px;
}
